{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Upcoming Events</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

$(document).ready(function() {
  var days = 30; // Number of days for upcoming events

  $.ajax({
    url: '/api/upcoming-events/' + days + '/',
    method: 'GET',
    dataType: 'json',
    success: function(data) {
      // Handle the API response data
      if (data.upcoming_birthdays.length > 0) {
        var birthdaysContainer = $('#birthdays-container');
        $.each(data.upcoming_birthdays, function(index, birthday) {
          var formattedDate = formatDate(birthday.birthdate);
          if (formattedDate) {
            birthdaysContainer.append('<p>' + birthday.name + ' - ' + formattedDate + '</p>');
          } else {
            birthdaysContainer.append('<p>' + birthday.name + ' - Invalid Date</p>');
          }
        });
      } else {
        $('#birthdays-container').html('<p>No upcoming birthdays.</p>');
      }

      if (data.upcoming_work_anniversaries.length > 0) {
        var anniversariesContainer = $('#anniversaries-container');
        $.each(data.upcoming_work_anniversaries, function(index, anniversary) {
          var formattedDate = formatDate(anniversary.hire_date);
          if (formattedDate) {
            anniversariesContainer.append('<p>' + anniversary.name + ' - ' + formattedDate + '</p>');
          } else {
            anniversariesContainer.append('<p>' + anniversary.name + ' - Invalid Date</p>');
          }
        });
      } else {
        $('#anniversaries-container').html('<p>No upcoming work anniversaries.</p>');
      }
    },
    error: function(xhr, status, error) {
      console.log(error);
    }
  });

  // Function to format dates as 'Month Day'
  function formatDate(dateString) {
    var parts = dateString.split('-');
    var year = parseInt(parts[0]);
    var month = parseInt(parts[1]) - 1; // Months are zero-based
    var day = parseInt(parts[2]);

    var date = new Date(year, month, day);

    // Check if the date is valid
    if (isNaN(date.getTime())) {
      return null; // Return null for invalid dates
    }

    var options = { month: 'long', day: 'numeric' };
    return date.toLocaleDateString('en-US', options);
  }
});

  </script>
</head>

<body>
  <h1>Upcoming Events</h1>

  <div id="birthdays-container">
    <h2>Upcoming Birthdays</h2>
    <ul id="birthdays-list"></ul>
  </div>

  <div id="work-anniversaries-container">
    <h2>Upcoming Work Anniversaries</h2>
    <ul id="work-anniversaries-list"></ul>
  </div>

  <script src="{% static 'employee_data_service/script.js' %}"></script></body>
</html>
